.footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 2rem;
}

.content {
  display: flex;
  align-items: center;
  padding: 0 0 0 0.7rem;
}

.content span {
  color: var(--main-item-color);
  margin: 0 1rem 0 0;
}

.logout:hover {
  cursor: pointer;
}

.logout p:hover{
  color: var(--main-item-color);
  transition: 0.2s ease;
}